a {
  color : #000000;
  text-decoration : none;
}
.b {
  border-right:1px gray solid;
}
#active {
  color:orange
}
h1{
  font-size: 3em;
  text-align:center;
  border-bottom:1px solid gray;
  padding : 20px;
  margin : 0px;
}
h2 {
  margin : 0px;
  padding : 20px;
  padding-top : 20px;
}
h3 {
  margin : 0px;
}
h4 {
  line-height: 1.5em;
  margin : 0px;
  padding : 20px;
}
ol {
  margin-left : 30px;
  margin : 0px;
  padding-top:20px;
  padding-bottom:none;
  border-bottom:none;
  width : 120px;
}
#grid {
  display:grid;
  grid-template-columns: 170px 1fr;
}

@media(max-width:860px) {
  a  {
    color : #000000;
    text-decoration : none;
  }
  .b {
    border-right:none;
  }
  #active {
    color:orange
  }
  h1{
    font-size: 3em;
    text-align:center;
    border-bottom:none;
    padding : 20px;
    margin : 0px;
  }
  h2 {
    margin : 0px;
    padding : 20px;
    padding-top : 40px;
  }
  h3 {
    margin : 10px;
  }
  h4 {
    line-height: 1.5em;
    margin : 0px;
    padding : 20px;
  }
  ol {
    margin-left : 30px;
    margin : 0px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:1px gray solid;
    width : 120px;
  }
  #grid {
    display:block;
  }
}
